* text=auto eol=lf

*.bat text eol=crlf
*.jar binary
*.jks binary
*.keystore binary
*.p12 binary
*.pfx binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ttf binary
*.otf binary
*.apk binary
*.aab binary
